.container {
    margin: 0 auto;
    padding: 0 2rem;
}

.display-flex {

    display: flex;
    flex-direction: column;

    border: 1px solid red;

    @media (min-width:50em) {
        border: 1px solid yellow;
        flex-direction: row;
    }
}

.illustration {
    margin: 3rem auto;

    @include mq (50em) {
        & img {
            max-width: 100%;
            flex: 1 1 60%;
        }


        // flex: 1 1 80%;
    }
}

// .flex-left-col {
//     @include mq (50em) {
//         border: 1px solid yellow;
//         flex: 1 1 50%;
//     }
// }


.logo {
    // border: 1px solid red;
    width: 35%;
    height: auto;
    margin-right: auto;

    padding-top: 2rem;

    @include mq (50em) {
        width: 20%;
    }

}

.main-header {
    font-family: $font-heading;
    color: white;
    font-size: 1.5rem;
    text-align: center;

    @include mq (50em) {
        font-size: 2rem;
        flex-basis: 20%;
        text-align: left;
        width: 20ch;
    }


}

.para {
    color: white;
    font-family: $font-body;
    font-weight: $font-weight-normal;
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 1rem;


    @include mq (50em) {
        font-size: 1rem;
        flex-basis: 20%;
        text-align: left;
        padding: 0;

        width: 53ch;
    }

}

main a {
    // border: 1px solid red;
    display: block;
    text-decoration: none;
    color: $clr-primary;

    background-color: #fff;
    padding: 1rem 2rem;

    border-radius: 40px;
    // margin-top: 2rem;
    margin: 2rem auto;
    text-align: center;

    width: 50%;

    @include mq (50em) {
        // border: 10px solid red;

        margin-top: 2rem;
        margin-left: 0;
        margin-right: auto;
        text-align: center;
        width: 40%;


    }
}