body {
    font-family: $font-body;
    font-weight: $font-weight-normal;

    background: url("../../images/bg-mobile.svg") no-repeat center center/cover;

    min-height: 100vh;

    background-color: $clr-primary;

    max-width: 1440px;
    margin: 0 auto;



    @media (min-width: 50em) {
        background: url('../../images/bg-desktop.svg') no-repeat center center/cover;
        background-color: $clr-primary;
    }
}